/* setup main css */
body{
    background-color: #181916;
    font-family: 'Poppins', sans-serif;
}

/* main title styles */
h1{
    font-size: 3rem;
    color: #F47C7C;
    margin: 1rem;
}

/* move counter styles */
h2{
    margin-top: 0;
    font-size: 2rem;
    color: #FFDE00;
}

/* background animation button styles */
button{
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

button:hover{
    transform: translateX(-2px) translateY(-2px);
}


/* center items in the main container */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

/* make rows horizontal */
section{
    display: flex;
}

/* card styles */
.cards{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 1rem;
    border-radius: 10%;
    background: linear-gradient(0deg, #000, #2c2c2c);
}

/* background lights animation */
.bg-animation:after{
    
    content: '';
    position: absolute;
    z-index: -1;
    
    width: 100%;
    height: 100%;
    
    background: linear-gradient(75deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
    background-size: 500%;
    filter: blur(10px);
    
    animation: glowing 25s linear infinite;
}

@keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

/* Media Queries to make website responsive */
@media screen and (max-width: 1075px) {
    
    article{
        display: flex;
    }

    section{
        flex-direction: column;
    }
}

@media screen and (max-width: 709px) {
    
    article{
        display: flex;
        flex-direction: column;
    }
}